<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the eBayManager</h1>

	<p>
  	  This is the home page for the ebay application.
	</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("COWEN.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>