<%= form_for(@unavailable_date) do |f| %>
  <% if @unavailable_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unavailable_date.errors.count, "error") %> prohibited this unavailable_date from being saved:</h2>

      <ul>
      <% @unavailable_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ebayID %><br>
    <%= f.text_field :ebayID %>
  </div>
  <div class="field">
    <%= f.label :unavailable_date %><br>
    <%= f.text_field :unavailable_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
