<p id="notice"><%= notice %></p>

<h1>Listing Unavailable Dates</h1>

<table>
  <thead>
    <tr>
      <th>Ebayid</th>
      <th>Unavailable date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unavailable_dates.each do |unavailable_date| %>
      <tr>
        <td><%= unavailable_date.ebayID %></td>
        <td><%= unavailable_date.unavailable_date %></td>
        <td><%= link_to 'Show', unavailable_date %></td>
        <td><%= link_to 'Edit', edit_unavailable_date_path(unavailable_date) %></td>
        <td><%= link_to 'Destroy', unavailable_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unavailable date', new_unavailable_date_path %>
