<p id="notice"><%= notice %></p>

<p>
  <strong>Ebayid:</strong>
  <%= @unavailable_date.ebayID %>
</p>

<p>
  <strong>Unavailable date:</strong>
  <%= @unavailable_date.unavailable_date %>
</p>

<%= link_to 'Edit', edit_unavailable_date_path(@unavailable_date) %> |
<%= link_to 'Back', unavailable_dates_path %>
