<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

	  <%= f.label :devID, "devID" %>
	  <%= f.text_field :devID, class: 'form-control' %>
	  
	  <%= f.label :appID, "appID" %>
	  <%= f.text_field :appID, class: 'form-control' %>	  
	  	  
	  <%= f.label :certID, "certID" %>
	  <%= f.text_field :certID, class: 'form-control' %>

	  <%= f.label :ebayToken, "ebayToken" %>
	  <%= f.text_field :ebayToken, class: 'form-control' %>
	  
	  <%= f.label :numStock, "Number of Stock" %>
	  <%= f.text_field :numStock, class: 'form-control' %>
	  
	  <%= f.label :SYWToken, "Shopyourway Token" %>
	  <%= f.text_field :SYWToken, class: 'form-control' %>
	  
	  <%= f.label :SYWHash, "Shopyourway Hash" %>
	  <%= f.text_field :SYWHash, class: 'form-control' %>
	  
	  <%= f.label :profit, "Profit" %>
	  <%= f.text_field :profit, class: 'form-control' %>
	  
	  <%= f.label :paypal, "Paypal" %>
	  <%= f.text_field :paypal, class: 'form-control' %>
	  
	  <%= f.label :Tag, "Your ebay title tag" %>
	  <%= f.text_field :Tag, class: 'form-control' %>
	  
	  <%= f.label :store_URL, "Link to your store(URL)" %>
	  <%= f.text_field :store_URL, class: 'form-control' %>
	  
	  <%= f.label :store_ID, "Your ebay ID" %>
	  <%= f.text_field :store_ID, class: 'form-control' %>

	  <%= f.label :test_mode, "Test Mode" %>
	  <%= f.check_box :test_mode %>
	  	  	  
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <a href=<%= user_url(@user) %> target="_blank">Edit Violated brands</a>
    </div>
  </div>
</div>