<li id="item-<%= item.id %>">
  <span class="content"><%= item.SYWID %></span>
  <span class="content"><%= item.SYWPrice %></span>
  <span class="content"><%= item.SYWAvailability %></span>
  <span class="content"><%= item.ebayID %></span>
  <span class="content"><%= item.ebayTitle %></span>
  <span class="content"><%= item.ebayPrice %></span>
  <span class="content"><%= item.quantity %></span>
  <span class="content"><%= item.fixed_price %></span>
  <span class="content"><%= item.user_id %></span>
  <span class="content"><%= item.category %></span>
</li>