<% provide(:title, "Edit Item") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@item=Item.find_by_ebayID(params[:ebay_id])) do |f| %>

      <%= f.label :SYWID %>
      <%= f.text_field :SYWID, class: 'form-control' %>

      <%= f.label :ebayID %>
      <%= f.text_field :ebayID, class: 'form-control' %>

      <%= f.label :fixed_price %>
      <%= f.text_field :fixed_price, class: 'form-control' %>
	
      <%= f.label :unavailable_date %>
      <%= f.text_field :unavailable_date, class: 'form-control' %>
	  	  
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>