<% provide(:title, 'All Items') %>
<h1>All items</h1>

<p> Editing item </p>
<form action = "/items/0/edit" method="get">
  EbayID
  <br>
  <input type="text" name="ebay_id">
  <input type="submit"/>
</form>

<p> Deleting Item</p>
<%= form_for(:item, :controller => "item", :action => "destroy", :html => {:method => "delete"}) do |f| %>

  <%= f.label :ebayID %><br/>
  <%= f.text_field :ebayID %>
  <%= f.submit "Delete", data: { confirm: 'Are you sure to delete it?' }%><br/>

<% end %>

<p> Updating <%= current_user.current_num %> out of <%= @all_items.count %> </p>
<%= button_to "Update Prices", :action => :update_price %>
<%= button_to "Update Descriptions", :action => :update_description %>
<%= button_to "Add an item from Shop your way", :action => :add_from_SYW %>
<%= button_to "Add a list of items from Shop your way", :action => :add_list_from_SYW %>

<p> Total of <%= @items.count %> items</p>

<%= will_paginate %>

<ol>
  <%= render @items %>
</ol>

<%= will_paginate %>