<% provide(:title, "Add a Shopyourway Item") %>
<h1>Add an item from Shop your way</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <form action = "/add_from_SYW" method="get">
       Title(leave blank if you want to use the default title):
       <br>
       <input type="text" name="title">
       <br>
       <br>
	   Shopyourway ID:
	   <input type="text" name="syw_id">
	   <br>
	   <br>
	   Shopyourway IDs(separate with ','):
	   <input type="text" name="syw_ids">
       <input type="submit"/>
     </form>
  </div>
</div>