<% provide(:title, "Add a list of Shop your way Item") %>
<h1>Add a list of items from Shop your way</h1>

<% if @count.nil? %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <form action = "/query_result" method="get">
       Key words:
       <input type="text" name="query">
       <br>
	   Seller(example: sears.com) :
	   <input type="text" name="seller" value="Sears.com">
       <br>
	   Brands(example: Craftsman, leave blank if not specific) :
	   <input type="text" name="brand">
	   <br>
	   Min Price:
	   <input type="text" name="minprice">
	   <br>
	   Max Price:
	   <input type="text" name="maxprice">
	   <br>
       <input type="submit"/>
     </form>
  </div>
</div>
<%else %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <form action = "/query_result" method="get">
	   Counts:
	   <input type="text" name = "count" value = <%=@count%>>
	   <br>
       Key words:
       <input type="text" name="query" value = <%=@query %>>
       <br>
	   Seller(example: sears.com) :
	   <input type="text" name="seller" value= <%=@seller%>>
       <br>
	   Brands(example: Craftsman, leave blank if not specific) :
	   <input type="text" name="brand" value= <%=@brand%>>
	   <br>
	   Min Price:
	   <input type="text" name="minprice" value = <%=@min_price%>>
	   <br>
	   Max Price:
	   <input type="text" name="maxprice" value = <%=@max_price%>>
	   <br>
       <input type="submit"/>
     </form>
  </div>
</div>
<%end%>
